*{
	margin: 0;
	padding: 0;
}



#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
	
}
.navbar-brand img{
	height: 50px;
	padding-left: 20px;
}
.navbar-nav li{
	padding: 0, 10px;
	
}
.navbar-nav li a{
    float: right;
	text-align: left;
	
}
#nav-bar ul li a:hover
{
	color: #007bff!important;
}
.navbar{
	background: #fff;
}
.navbar-toggler{
 border: none!important;
}
.nav-link{
	color: #555!important;
	font-weight: 600;
	font-size: 16px;
}
/*-----slider---*/
#slider{
	width: 100%;
}

.carousel-caption
{
	top:80%;
	transform: translateY(-50%);
	bottom: initial!important;
}
.carousel-caption h5
{
	color: #fff;
	font-size: 42px;
}
/*-----about------*/
#about
{
	padding-top: 50px;
	padding-bottom: 50px;
	color: #555;
}
#about .btn
{
	margin-top: 20px;
	margin-bottom: 30px;
}
.about-content{
	padding-top: 20px;
	
}
.skills-bar p{
	margin-bottom: 6px;
	font-weight: 600;
}
.progress-bar{
	border-radius: 16px:
}
.progress{
	border-radius: 16px;
	margin-bottom: 20px;
}
.content{
	padding-left: 20px;
}
#card
{padding-left: 150px;
	padding-right: 150px;
	align-items: center;
}
.col-md-3{
    width:100%;
	margin:0;
}
#footer{padding-top: 50px;}


















